<form class = 'login-form'>
    <div>
        <label for = "username-login"> enter username</label>
        <input type="text" id="username-login" />
    </div>
    <div>
        <label for = "password-login"> enter password (min. 3 characters)</label>
        <input type="password" id="password-login" />
    </div>
    <div>
        <button type="submit">Start yalkin' about tech</button>
    </div>
</form>
<p> ALready a user? login brother <a href="/login">over here</a></p>

<script src="../../public/javascript/signup.js"></script>